In [76]:
print("Hello world")

Hello world

In [77]:
import pandas as pd

In [78]:
print(pd.__version__)

2.2.3

In [80]:
df= pd.read_csv("Pizza_dataset.csv", encoding_errors= "ignore")

In [81]:
df.head()

,Order_ID,Restaurant_Name,Location,Order_Time,Delivery_Time,Delivery_Duration_min,Pizza_Size,Pizza_Type,Toppings_Count,Distance_km,...,Topping_Density,Order_Month,Payment_Category,Estimated_Duration_min,Delay_min,Is_Delayed,Pizza_Complexity,Traffic_Impact,Order_Hour,Restaurant_Avg_Time
0,ORD001,Domino's,"New York, NY",05-01-2024 18:30,05-01-2024 18:45,15,Medium,Veg,3,2.5,...,1.200000,January,Online,6.0,9.0,False,6,2,18,30.259434
1,ORD002,Papa John's,"Los Angeles, CA",14-02-2024 20:00,14-02-2024 20:25,25,Large,Non-Veg,4,5.0,...,0.800000,February,Online,12.0,13.0,False,12,3,20,28.186275
2,ORD003,Little Caesars,"Chicago, IL",21-03-2024 12:15,21-03-2024 12:35,20,Small,Vegan,2,3.0,...,0.666667,March,Online,7.2,12.8,False,2,1,12,28.844221
3,ORD004,Pizza Hut,"Miami, FL",10-04-2024 19:45,10-04-2024 20:10,25,XL,Cheese Burst,5,4.5,...,1.111111,April,Offline,10.8,14.2,False,20,2,19,29.948454
4,ORD005,Marco's Pizza,"Dallas, TX",05-05-2024 13:00,05-05-2024 13:20,20,Medium,Non-Veg,3,2.0,...,1.500000,May,Online,4.8,15.2,False,6,3,13,30.286458

In [82]:
df.describe()

,Delivery_Duration_min,Toppings_Count,Distance_km,Delivery_Eficiency_min/km,Topping_Density,Estimated_Duration_min,Delay_min,Pizza_Complexity,Traffic_Impact,Order_Hour,Restaurant_Avg_Time
count,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000,1004.000000
mean,29.492032,3.362550,4.945618,6.397006,0.714684,11.869482,17.622550,9.468127,2.049801,18.691235,29.492032
std,7.753103,1.135853,1.951463,1.562573,0.203020,4.683510,3.964289,6.233731,0.775696,1.529466,0.859941
min,15.000000,1.000000,2.000000,4.166667,0.266667,4.800000,9.000000,1.000000,1.000000,12.000000,26.666667
25%,25.000000,3.000000,3.500000,5.000000,0.600000,8.400000,15.200000,6.000000,1.000000,18.000000,28.844221
50%,30.000000,3.000000,4.500000,6.000000,0.666667,10.800000,17.800000,6.000000,2.000000,19.000000,29.948454
75%,30.000000,4.000000,6.000000,7.142857,0.833333,14.400000,20.400000,12.000000,3.000000,20.000000,30.259434
max,50.000000,5.000000,10.000000,12.500000,1.500000,24.000000,30.080000,20.000000,3.000000,21.000000,30.286458

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 25 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order_ID                   1004 non-null   object
 1   Restaurant_Name            1004 non-null   object
 2   Location                   1004 non-null   object
 3   Order_Time                 1004 non-null   object
 4   Delivery_Time              1004 non-null   object
 5   Delivery_Duration_min      1004 non-null   int64
 6   Pizza_Size                 1004 non-null   object
 7   Pizza_Type                 1004 non-null   object
 8   Toppings_Count             1004 non-null   int64
 9   Distance_km                1004 non-null   float64
 10  Traffic_Level              1004 non-null   object
 11  Payment_Method             1004 non-null   object
 12  Peak_Hour                  1004 non-null   bool
 13  Is_Weekend                 1004 non-null   bool
 14  Delivery_Eficiency_min/km  1004 non-null   float64
 15  Topping_Density            1004 non-null   float64
 16  Order_Month                1004 non-null   object
 17  Payment_Category           1004 non-null   object
 18  Estimated_Duration_min     1004 non-null   float64
 19  Delay_min                  1004 non-null   float64
 20  Is_Delayed                 1004 non-null   bool
 21  Pizza_Complexity           1004 non-null   int64
 22  Traffic_Impact             1004 non-null   int64
 23  Order_Hour                 1004 non-null   int64
 24  Restaurant_Avg_Time        1004 non-null   float64
dtypes: bool(3), float64(6), int64(5), object(11)
memory usage: 175.6+ KB

In [84]:
df.duplicated().sum()

np.int64(0)

In [85]:
df.isnull().sum()

Order_ID                     0
Restaurant_Name              0
Location                     0
Order_Time                   0
Delivery_Time                0
Delivery_Duration_min        0
Pizza_Size                   0
Pizza_Type                   0
Toppings_Count               0
Distance_km                  0
Traffic_Level                0
Payment_Method               0
Peak_Hour                    0
Is_Weekend                   0
Delivery_Eficiency_min/km    0
Topping_Density              0
Order_Month                  0
Payment_Category             0
Estimated_Duration_min       0
Delay_min                    0
Is_Delayed                   0
Pizza_Complexity             0
Traffic_Impact               0
Order_Hour                   0
Restaurant_Avg_Time          0
dtype: int64

In [86]:
df.shape

(1004, 25)

In [87]:
df.to_csv("Pizza_clean_dataset", index=False)

In [88]:
import sqlalchemy

In [89]:
import pymysql

In [90]:
from sqlalchemy import create_engine

In [91]:
engine_mysql= create_engine("mysql+pymysql://root@localhost:3306/project")

try:
    engine_mysql
    print("connection successed to mysql")
except:
    print("unable to connect")

connection successed to mysql

In [92]:
df.to_sql(name='Pizza', con= engine_mysql, if_exists='append', index=False)

C:\Users\Dell\AppData\Local\Temp\ipykernel_5636\15052257.py:1: UserWarning: The provided table name 'Pizza' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df.to_sql(name='Pizza', con= engine_mysql, if_exists='append', index=False)

1004